@model TestTask.Models.EmployeeTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeTask</h4>
    <hr />
    @*<table>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Name)
            </td>

            <td>
                @Html.DisplayFor(x => x.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Comments)
            </td>

            <td>
                @Html.DisplayFor(x => x.Comments)
            </td>
        </tr>
        
    </table>*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => x.Name)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Comments)
        </dd>
    </dl>

    
    <ul>
        @foreach (var data in Model.SpentTime)
        {
            <li>Employee Name: @data.Employee.FullName | | Duration: @data.Duration</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
