@model TestTask.Models.Employee
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => x.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.Address)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Phone)
        </dd>
    </dl>
    
    <ul>
        @foreach (var data in Model.SpentTime)
        {
            <li>Task Name: @data.EmployeeTask.Name | Comment: @data.EmployeeTask.Comments | Duration: @data.Duration</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
